.input,
.select,
.textarea,
.label {
  display: flex;
  flex-direction: column;
  font-family: var(--ds-sans-serif-font, 'Open Sans', inherit, sans-serif);
  gap: 3px;
}

.labelText {
  padding: 0 3px;
  font-size: 12px;
  text-transform: uppercase;
  user-select: none;
}

.inner {
  flex: 1 1 100%;
  position: relative;
  border-radius: var(--ds-input-radius, var(--ds-radius-100, 3px));
  z-index: 0;
}

.inner::before,
.inner::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--ds-input-filler-height, 100%);
  content: '';
  border-radius: inherit;
  pointer-events: none;
  touch-action: none;
}

.inner::before {
  background-color: var(--ds-input-background, var(--ds-grey-100, #f5f5f5));
}

.inner::after {
  background-color: var(--ds-input-background-filler, var(--ds-grey-200, #efefef));
  transform: scaleX(0);
  transform-origin: var(--ds-input-filler-transform-origin, left center);
  transition: transform 320ms var(--ds-transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
}

.inner:focus-within::after {
  transform: none;
}

.field {
  position: relative;
  width: 100%;
  padding: var(--ds-input-padding, 8px);
  box-sizing: border-box;
  color: var(--ds-input-foreground, var(--ds-grey-700, #171e30));
  font-size: 16px;
  font-family: var(--ds-sans-serif-font);
  background-color: transparent;
  border: none;
  border-radius: inherit;
  outline: none;
  transition: transform 320ms var(--ds-transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
  z-index: 1;
}

.field::placeholder {
  font-style: italic;
}

.field:focus-visible {
  outline: 2px solid var(--ds-blue-400, #4177f6);
  outline-offset: 2px;
}

.select .field {
  padding: var(--ds-input-padding, 8px) calc(24px + var(--ds-input-padding, 8px)) var(--ds-input-padding, 8px)
    var(--ds-input-padding, 8px);
  appearance: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  background-size: 18px;
}

.textarea:not(.autoSizing) .field {
  resize: vertical;
}

.textarea.autoSizing .field {
  resize: none;
}

.input.compact .field,
.select.compact .field,
.textarea.compact .field {
  font-size: 14px;
}

.select.compact .field {
  padding: var(--ds-input-compact-padding, 5px) calc(24px + var(--ds-input-compact-padding, 8px))
    var(--ds-input-compact-padding, 5px) var(--ds-input-compact-padding, 5px);
}

.input.compact .field,
.textarea.compact .field {
  padding: var(--ds-input-compact-padding, 5px);
}

.error {
  padding: 0 3px;
  color: var(--ds-red, #f26464);
  font-style: italic;
  font-size: 11px;
}
